# Не создавать package-lock.json автоматически при установке
# Раскомментируй если хочешь использовать npm ci
# package-lock=true

# Сохранять точные версии пакетов
save-exact=false

# Движок
engine-strict=false

